{% extends "base.html" %}

{% block content %}
<div id="site">
    <div id="container">
        <div id="header-wp" class="clearfix">
            <div class="wp-inner">
                <a href="?page=home" title="" id="logo" class="fl-left">UNITOP STORE</a>
                <div id="btn-respon" class="fl-right"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div id="cart-wp" class="fl-right">
                    <a href="?page=cart" title="" id="btn-cart">
                        <span id="icon"><img src="public/images/icon-cart.png" alt=""></span>
                        <span id="num">5</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}